body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.hero-block{
    width: 165px;
    height: 93px;
    text-align: center;
    position: relative;
}
.hero-block a{
    color: #fff;
    font-weight: bold;
}
.hero-block a:hover{
    color: #dedede;
}
.hero-block img{
    width: 100%;
    height: 100%;
}
.hero-block span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-shadow: 1px 1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000;
}
.hero-profile{
    background-color: #eee;
}
.hero-profile h4, .hero-profile h5{
    text-align: center;
    background-color: rgba(131, 212, 255, 0.38);
    margin: 0;
}
.hero-profile .avatar{
    margin: 0 auto;
    display: block;
}
.hero-profile .attribute img{
    width: 35px;
}
.hero-profile .attribute img.main{
    background-color: #1b1e21;
    border-radius: 50%;
}
.hero-profile .pt-1.pb-1{
    font-size: 14px;
}
.bg-lightblue{
    background-color: rgba(131, 212, 255, 0.38);
}
.bg-lightyellow{
    background-color: #FFE4A3;
}

.ability-header{
    font-size: 22px;
    font-weight: bold;
}
.ability img{
    max-width:100%;
    max-height:100%;
}
.ability .heropage-video{
    max-width:100%;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-pointer td:not(.talent):hover{
    background-color: rgba(255, 228, 163, 0.4);
}
.talents-table{
    text-align:center;
    margin:0;
}
.talents-table td.active{
    background-color: #FFE4A3;
}
.talents-table tr.talent-row{
    border: 1px solid #bbbbbb !important;
}
.talents-table .talent{
    padding: 10px;
    background-color: #3E4447;
}
.talents-table .talent.no-bg{
    background: none;
}
.talents-table .talent span{
    color: #f3e494;
    text-shadow:1px 1px 8px #ff751b,-1px -1px 8px #ff751b;
    font-size:14pt
}
.hero-form label.form-label{
    font-weight: bold;
}
.hero-form .form-errors{
    background: rgba(220, 53, 69, 0.2);
}
.hero-form .form-errors ul{
    list-style: none;
    margin: 0;
    padding: .375rem .75rem;
}
.hero-builder-area{
    display: none;
}
.hero-avatar-header{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: 50%;
}
.hero-avatar-header .avatar-shadow{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}
.hero-builder{
    width: 1070px;
    margin: 0 auto;
}
.hero-builder .hero-name{
    font-weight: bold;
}
.hero-builder .hero-avatar img{
    width: 100%;}
.hero-builder .avatar-shadow{
    position: absolute;
    top: 24px;
    width: 100%;
    height: calc(100% - 24px);
    background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0) 50%);
}
.hero-builder .hero-stats-first{
    position: absolute;
    top: 36px;
    right: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.hero-builder .hero-stats-first .stat-row{
    display: flex;
    justify-content: flex-end;
}
.hero-builder .hero-stats-first .stat-row img{
    height: 14px;
    margin-top: 2px;
    padding-left: 4px;
}
.hero-builder .hero-stats-second{
    background: #2c3b32;
}
.hero-builder .abilities{
    justify-content: space-around;
    padding-bottom: 75px;
}
.hero-builder .abilities .ability{
    width: 60px;
    border: 1px solid #fff;
}
.hero-builder .hp-bar{
    position: absolute;
    bottom: 30px;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to right, #286323, #7AF03C);
    color: #fff;
    font-weight: bold;
}
.hero-builder .hp-bar .hero-hp {
    text-align: center;
    width: 100%;
}
.hero-builder .hp-bar .hero-hp-regen{
    position: relative;
    right: 10px;
    color: #000;
    font-weight: normal;
    font-size: 14px;
}
.hero-builder .mp-bar{
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to right, #1056DB, #73F5FE);
    color: #fff;
    font-weight: bold;
}
.hero-builder .mp-bar .hero-mp {
    text-align: center;
    width: 100%;
}
.hero-builder .mp-bar .hero-mp-regen{
    position: relative;
    right: 10px;
    color: #000;
    font-weight: normal;
    font-size: 14px;
}
.hero-builder .hero-stats-third{
    background: #2c3b32;
    border-left: 1px solid #000;
}
.hero-builder .hero-stats-third .items {
    width: 250px;
    padding-bottom: 29px;
}
.hero-builder .hero-stats-third .item-image{
    width: 60px;
    height: 45px;
    background: #1f2326;
    border: 1px solid #000;
}
.hero-builder .hero-stats-third .item-image img{
    width: 60px;
    height: 45px;
}
.hero-builder .hero-stats-third .neutral-item {
    position: absolute;
    top: 48px;
    right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1f2326;
    border: 1px solid #000;
    background-position: center center;
    background-size: cover;
}
.hero-talents-table thead th{
    color: #fff;
}
.hero-talents-table thead th.first{
    background-color: rgba(65, 180, 241, 0.38);
}
.hero-talents-table thead th.second{
    background-color: rgba(65, 180, 241, 0.48);
}
.hero-talents-table thead th.third{
    background-color: rgba(65, 180, 241, 0.68);
}
.hero-talents-table thead th.fourth{
    background-color: rgba(65, 180, 241, 0.88);
}
.hero-talents-table thead th.fifth{
    background-color: rgba(65, 180, 241, 1);
}
.hero-talents-table img{
    max-width: 150px;
}
.hero-talents-table .hero-begin{
    border-top: 2px solid #000;
}