body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.hero-block{
    width: 165px;
    height: 93px;
    text-align: center;
    position: relative;
}
.hero-block a{
    color: #fff;
    font-weight: bold;
}
.hero-block a:hover{
    color: #dedede;
}
.hero-block img{
    width: 100%;
    height: 100%;
}
.hero-block span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-shadow: 1px 1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000;
}
.hero-profile{
    background-color: #eee;
}
.hero-profile h4, .hero-profile h5{
    text-align: center;
    background-color: rgba(131, 212, 255, 0.38);
    margin: 0;
}
.hero-profile .avatar{
    margin: 0 auto;
    display: block;
}
.hero-profile .attribute img{
    width: 35px;
}
.hero-profile .attribute img.main{
    background-color: #1b1e21;
    border-radius: 50%;
}
.hero-profile .pt-1.pb-1{
    font-size: 14px;
}
.bg-lightblue{
    background-color: rgba(131, 212, 255, 0.38);
}
.bg-lightyellow{
    background-color: #FFE4A3;
}

.ability-header{
    font-size: 22px;
    font-weight: bold;
}
.ability img{
    max-width:100%;
    max-height:100%;
}
.ability .heropage-video{
    max-width:100%;
}
.talents-table{
    text-align:center;
    margin:0;
}
.talents-table tr.talent-row{
    border: 1px solid #bbbbbb !important;
}
.talents-table .talent{
    padding: 10px;
    background-color: #3E4447;
}
.talents-table .talent span{
    color: #f3e494;
    text-shadow:1px 1px 8px #ff751b,-1px -1px 8px #ff751b;
    font-size:14pt
}
.hero-form label.form-label{
    font-weight: bold;
}
.hero-form .form-errors{
    background: rgba(220, 53, 69, 0.2);
}
.hero-form .form-errors ul{
    list-style: none;
    margin: 0;
    padding: .375rem .75rem;
}